* {
    margin: 0;
    padding: 0;
}

/* Navbar */
.logo {
    font-size: 25px;
    font-family: Franklin Gothic Medium;
    font-weight: 600;
    position: absolute;
    float: left;
    padding: 15px 0px 15px 15px;
    color: #000080;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 15px 15px 15px 0px;
    float: right;
    visibility: visible;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    visibility: hidden;
}

ul {
    position: sticky;
    display: flex;
    list-style: none;
}

li {
    float: right;
    padding: 20px 5px 20px;
}
  
li a {  
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    color: black;
}
  
li a:hover {
    background-color: #000080;
    color: white;
}

/* Background Image */
.bground {
    text-align: center; 
    height:600px;
    margin-bottom: 10px;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*Background Image texts*/
.banner {
    color: white;
    font-family: Franklin Gothic Medium;
    font-size: 30px;
    padding-top: 80px;
}

.banner-txt {
    color: white;
    font-size: 15px;
    padding-top: 10px;
    margin: 0px 25px 20px;
}

/* Div adjustment */
.base {
    display: flex;
    justify-content: center;
}

/* Search Form */
.search-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}

input[type=destination] {
    box-sizing: border-box;
    font-size: 12px;
    height: 58px;
    width: 300px;
    padding-left: 85px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    border: 4px solid #0d0dbe;
}

a.datebtn {
    font-family: Arial;
    background-color: white;
    color: black;
    font-size: 12px;
    height: 31px;
    width: 292px;
    padding-top: 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 4px solid #0d0dbe;
}

a.roombtn {
    font-family: Arial;
    background-color: white;
    color: black;
    font-size: 12px;
    height: 31px;
    width: 292px;
    padding-top: 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 4px solid #0d0dbe;
}

a.search {
    font-family: Arial;
    background-color: #0d0dbe;
    color: white;
    font-size: 15px;
    height: 31px;
    width: 292px;
    padding-top: 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 4px solid #0d0dbe;
}

a.search:hover {
    background-color: #000080;
}

/*Search buttons */
.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

a.choose {
    background-color: #0d0dbe;
    color: #ffffff;
    font-family: Arial;
    font-size: 10px;
    padding-top: 10px;
    margin: 10px 5px 0px;
    width: 90px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

a.choose:hover {
    background-color: #000080;
}

/* Page services */
.box-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1000px;
}

.box {
    font-family: Franklin Gothic Medium;
    font-size: 15px;
    color: #000080;
    padding-top: 30px;
    width: 300px;
    height: 150px;
    margin: 10px;
    text-align: center;
    box-shadow: #000000a4 0px 5px 20px;
}

 .box-txt {
    font-family: Arial;
    font-size: 12px;
    padding: 5px 20px 0px;
    color: black;
}

/* Places or Trending Destinations */
.place-title {
    font-family: Franklin Gothic Medium;
    font-size: 15px;
    color: #000080;
    width: auto;
    height: 70px;
    padding: 0px 10px 0px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.place-txt {
    font-family: Arial;
    font-size: 12px;
    color: black;
    padding-top: 5px;
}

.place-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1000px;
}
 
.place-button {
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding-top: 30px;
    width: 330px;
    height: 200px;
    margin: 20px 5px 5px 5px;
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: #000000a4 0px 5px 20px;
    background-image: url('img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.place-button:hover{
    opacity: 0.9;
}

.place-button2 {
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding-top: 30px;
    width: 330px;
    height: 200px;
    margin: 20px 5px 5px 5px;
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: #000000a4 0px 5px 20px;
    background-image: url('img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.place-button2:hover{
    opacity: 0.9;
}

.place-button3 {
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding-top: 30px;
    width: 330px;
    height: 200px;
    margin: 5px;
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: #000000a4 0px 5px 20px;
    background-image: url('img3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.place-button3:hover{
    opacity: 0.9;
}

.place-button4 {
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding-top: 30px;
    width: 330px;
    height: 200px;
    margin: 5px;
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: #000000a4 0px 5px 20px;
    background-image: url('img4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.place-button4:hover{
    opacity: 0.9;
}

.place-button5 {
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding-top: 30px;
    width: 330px;
    height: 200px;
    margin: 5px;
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: #000000a4 0px 5px 20px;
    background-image: url('img5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.place-button5:hover{
    opacity: 0.9;
}

 /* Email subscription */
.email-title {
    font-family: Franklin Gothic Medium;
    font-size: 15px;
    color: white;
    padding-top: 30px;
    margin: auto;
    margin-top: 30px;
    width: auto;
    height: 200px;
    text-align: center;
    background-color: #1919e9;
}

.email-txt {
    font-family: Arial;
    font-size: 12px;
    padding: 5px 30px 15px;
    margin-bottom: 20px;
    color: white;
}

.email-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px;
}

a.subscribe {
    background-color: #0d0dbe;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    padding-top: 14px;
    width: 100px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

a.subscribe:hover {
    background-color: #000080;
}

/* Footer */
.footer {
    font-family: Arial;
    font-size: 8px;
    color: white;
    padding: 20px 50px 0px;
    width: auto;
    height: 40px;
    margin: auto;
    text-align: center;
    background-color: #0c0c7b;
}

@media (min-width: 768px) {
    .icon {
        display: none;
    }

    nav {
        visibility: visible;
    }

    .bground {
        text-align: center; 
        height: 480px;
    }

    .banner {
        font-size: 40px;
        padding-top: 80px;
    }
    
    .banner-txt {
        color: white;
        font-size: 20px;
        margin: 0px 50px 30px;
    }

    .search-container {
        flex-direction: row;
        width: 1000px;
    }

    input[type=destination] {
        width: 250px;
        padding-left: 60px;
    }
    
    a.datebtn {
        width: 250px;
    }
    
    a.roombtn {
        width: 250px;
    }
    
    a.search {
        width: 150px;
    }

    a.choose {
        width: 120px;
        height: 20px;
    }

    .box-container {
        flex-direction: row;
        width: 1200px;
    }

    .box {
        font-size: 20px;
        height: 300px;
    }

    .box-txt {
        font-size: 17px;
    }
    
    .place-title {
        font-size: 20px;
        width: 1183px;
        text-align: left;
    }

    .place-txt {
        text-align: justify;
        font-size: 17px;
    }

    .place-container {
        flex-direction: row;
        width: 1200px;
        flex-wrap: wrap;
    }

    .place-button {
        width: 570px;
        height: 300px;
    }

    .place-button2 {
        width: 570px;
        height: 300px;
    }

    .place-button3 {
        width: 370px;
        height: 300px;
    }

    .place-button4 {
        width: 370px;
        height: 300px;
    }

    .place-button5 {
        width: 370px;
        height: 300px;
    }

    .email-title {
        font-size: 20px;
    }

    .email-txt {
        font-size: 17px;
    }

    input[type=text] {
        width: 400px;
        font-size: 17px;
        padding: 10px;
    }

    a.subscribe {
        font-size: 17px;
        padding-top: 14px;
        width: 150px;
        height: 30px;
    }

    .footer {
        font-size: 12px;
        padding: 30px 50px 0px;
        height: 60px;
    }


}