* {
    margin: 0;
    padding: 0;
}

/* Navbar Logo (Safario) */
.logo {
    font-size: 30px;
    font-family: Franklin Gothic Medium;
    font-weight: 600;
    position: absolute;
    float: left;
    padding: 15px 0px 15px 40px;
    color: #000080;
}

/* Navbar */
nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

ul {
    position: sticky;
    display: flex;
    list-style: none;
}

li {
    float: right;
    padding: 20px 5px 20px;
}
  
li a {  
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    color: black;
}
  
li a:hover {
    background-color: #000080;
    color: white;
}

/* Background Image */
.bground {
    text-align: center; 
    background-image: url('bg.jpg');
    background-position: center;
    height:470px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Texts on Background Image */
.banner {
    color: white;
    font-family: Franklin Gothic Medium;
    font-size: 50px;
    padding-top: 150px;
}

.bannertxt {
    color: white;
    font-size: 20px;
    padding-top: 10px;
    margin: 0px 50px 0px;
}

/* Button on Background image */
a.started {
    background-color: #0d0dbe;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding-top: 20px;
    margin: 20px;
    width: 170px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: #000000a4 0px 5px 20px;
}

a.started:hover {
    background-color: #000080;
}

/* Boxes and texts on body */
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
}

.box {
    font-family: Franklin Gothic Medium;
    font-size: 15px;
    color: #000080;
    padding-top: 30px;
    width: 250px;
    height: 250px;
    margin: 20px;
    text-align: center;
    box-shadow: #000000a4 0px 5px 20px;
}
 .content {
    font-family: Arial;
    padding:20px;
    color: black;
}

.destination-title {
    font-family: Franklin Gothic Medium;
    font-size: 23px;
    width: 1118px;
    height: 70px;
    margin: auto;
    text-align: left;
}

.destination-text {
    font-family: Arial;
    font-size: 15px;
    width: 1118px;
    height: 70px;
    padding-top: 5px;
    margin: auto;
    text-align: left;
}
 
 /* Boxes and texts on destinations */
 .destination-container {
     display: flex;
     justify-content: center;
     flex-direction: row;
}

.destination-button {
    background-color: #0d0dbe;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding-top: 30px;
    width: 555px;
    height: 250px;
    margin: 20px 5px 5px 5px;
    padding-left: 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: #000000a4 0px 5px 20px;
    background-image: url('img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination-box {
    font-family: Franklin Gothic Medium;
    font-size: 15px;
    color: #000080;
    padding-top: 30px;
    width: 555px;
    height: 250px;
    margin: 20px 5px 5px 5px;
    text-align: center;
    box-shadow: #000000a4 0px 5px 20px;
    background-image: url('img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination-box2 {
    font-family: Franklin Gothic Medium;
    font-size: 15px;
    color: #000080;
    padding-top: 30px;
    width: 366.5px;
    height: 250px;
    margin: 5px 5px 50px 5px;
    text-align: center;
    box-shadow: #000000a4 0px 5px 20px;
}

.destination-content {
    font-family: Arial;
    padding:0px 20px 0px;
    text-align: left;
    color: white;
}

 /* Box and text on email*/
.email-container {
    font-family: Franklin Gothic Medium;
    font-size: 25px;
    color: white;
    padding-top: 30px;
    width: auto;
    height: 250px;
    margin: auto;
    text-align: center;
    background-color: #0d0dbe;
}

.emailtxt {
    font-family: Arial;
    font-size: 18px;
    padding: 30px;
    color: white;
}

/* Email form */
.email-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

input[type=text] {
    width: 400px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
}

/* Subscribe button */
a.subscribe {
    background-color: #0d0dbe;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding-top: 15px;
    width: 120px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: #000000a4 0px 5px 20px;
}

a.subscribe:hover {
    background-color: #000080;
}

.footer {
    font-family: Arial;
    font-size: 10px;
    color: white;
    padding-top: 40px;
    width: auto;
    height: 60px;
    margin: auto;
    text-align: center;
    background-color: #0c0c7b;
}